.blogWrapper {
  background-color: white;
}

.notion {
  margin-bottom: -30px;
  padding-top: 50px;
  padding-bottom: 80px;
}

.notion-block-f0ba6df900164032b41d31f6b950190d {
  display: none;
}

h1 {
  position: absolute;
  top: -100px;
  font-family: 'Goudy Bookletter 1911',serif;
  font-variant: small-caps;
  font-weight: 300;
  font-size: 3.75rem;
  color: white;
  text-shadow: 2px 2px 4px #1e1e1e;
  z-index: 2;
}
