.notion-header {
  display: none;
}

.notion-page-icon-hero {
  display: none;
}

.notion-page-cover-wrapper {
  top: 0;
  width: 100%;
  z-index: 1;
}

.notion-page-has-cover {
  padding-top: 10px;
}

.notion-block-0dfb1a04f1324f08aba19c976ce5534e {
  font-family: 'Goudy Bookletter 1911',serif;
  color: white;
  position: absolute;
  top: -60px;
  z-index: 2;
}

.notion-block-f0ba6df900164032b41d31f6b950190d {
  display: none;
}

h1 {
  position: absolute;
  top: -100px;
  font-family: 'Goudy Bookletter 1911',serif;
  font-variant: small-caps;
  font-weight: 300;
  font-size: 3.75rem;
  color: white;
  text-shadow: 2px 2px 4px #1e1e1e;
  z-index: 2;
}
